<div class="col-md-4 content-center">
    <div class="card card-login card-plain">
        <form autocomplete="off" class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div style="clear:both; height:50px;"></div>
            <div class="header header-primary text-center">
                <div class="logo-container">
                    <img src="assets/img/secretsanta.png" alt="">
                </div>
            </div>
            <div class="content">
                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus7===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i></span>
                    </div>
                    <input autocomplete="off" formControlName="CompanyCode" type="text" class="form-control"
                        placeholder="Company Code..." (focus)="onFocusCompanyCode($event)"
                        (blur)="onBlurCompanyCode($event)" [ngbTypeahead]="companySearch"
                        (click)="click$.next($event.target.value)" #companyCodeInstance="ngbTypeahead">
                </div>
                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="now-ui-icons business_badge"></i></span>
                    </div>
                    <input formControlName="PSNo" type="text" class="form-control" placeholder="PS No..."
                        (focus)="focus=true" (blur)="focus=false">
                </div>

                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <input formControlName="FullName" type="text" class="form-control" placeholder="Full Name..."
                        (focus)="focus1=true" (blur)="focus1=false">
                </div>

                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus2===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="now-ui-icons tech_mobile"></i></span>
                    </div>
                    <input formControlName="Mobile" type="text" class="form-control" placeholder="Mobile..."
                        (focus)="focus2=true" (blur)="focus2=false">
                </div>

                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus3===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="now-ui-icons ui-1_email-85"></i></span>
                    </div>
                    <input formControlName="Email" type="text" class="form-control" placeholder="Email..."
                        (focus)="focus3=true" (blur)="focus3=false">
                </div>

                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus6===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons design_vector"></i></span>
                    </div>
                    <!-- <select formControlName="Department"  type="text" placeholder="Group..." class="form-control" (focus)="focus6=true"
                      (blur)="focus6=false">
                    <option>Dep 1</option>
                    <option>Dep 2</option>
                    <option>Dep 3</option>
                    </select> -->
                    <input autocomplete="off" formControlName="Department" type="text" class="form-control"
                        placeholder="Group Name..." (focus)="onFocusGroupName($event)" (blur)="focus6=false"
                        [ngbTypeahead]="groupSearch" (click)="groupClick$.next($event.target.value)"
                        #groupNameInstance="ngbTypeahead">
                </div>

                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus4===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                    </div>
                    <input autocomplete="new-password" formControlName="Password" type="password"
                        placeholder="Password..." class="form-control" (focus)="focus4=true" (blur)="focus4=false" />
                </div>

                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus5===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                    </div>
                    <input autocomplete="new-password" formControlName="ConfirmPassword" type="password"
                        placeholder="Confirm Password..." class="form-control" (focus)="focus5=true"
                        (blur)="focus5=false" />
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Get Started</button>
                <!-- <a href="javascript:void(0);" [routerLink]="['/Dashboard']" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a> -->
            </div>
            <div class="pull-left">
                <h6>
                    <a href="javascript:void(0);" [routerLink]="['/Login']" class="link">Back to Login</a>
                </h6>
            </div>
            <!-- <div class="pull-right">
              <h6>
                  <a href="#pablo" class="link">Need Help?</a>
              </h6>
          </div> -->
        </form>
    </div>
</div>