<div class="card">
  <div class="nav-tabs-navigation" data-tabs-color="orange">
    <div class="nav-tabs-wrapper">
      <ngb-tabset [justify]="'center'" class="text-center">
        <ngb-tab title="Your Details">
          <ng-template ngbTabContent>

            <div class="section">
              <p class="category"><u>Fill Your Wish List below</u></p>

              <app-wishlist-details *ngIf="showSelfWishList" 
                                    [wishlist]="SelfWishList" 
                                    [enableAction]="true"
                                    (emitOnSubmit)="SaveWishList($event)"></app-wishlist-details>

            </div>

            <div class="section">
              <p class="category"><u>Profile</u></p>

              <app-profile-details *ngIf="showSelfProfile" [profiledata]="SelfProfile" 
              [enableAction]="true" (emitOnSubmit)="SaveProfile($event)"></app-profile-details>

            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Recipient Details">
          <ng-template ngbTabContent>

            <div class="section">
              <p class="category"><u>Wish List of Your Recipient is below</u></p>

              <app-wishlist-details *ngIf="showRecipientWishList" [wishlist]="RecipientWishList" ></app-wishlist-details>

            </div>


            <div class="section" *ngIf="showRecipientProfile">
              <p class="category"><u>Profile Details of Your Recipient</u></p>
              <app-profile-details  [profiledata]="RecipientProfile"></app-profile-details>
            </div>

            <div class="section" *ngIf="!showRecipientProfile">
              <p><b>Time left to  reveal your Recipient Profile Details:</b></p>  
              <!-- <countdown #cd1 [config]="{leftTime:30}"></countdown> -->
              <countdown-timer style="font:bold 20px Verdana;" [end]="'2019-12-23 12:00:00'"></countdown-timer>
            </div>

          </ng-template>
        </ngb-tab>

        <ngb-tab title="Your Secret Santa Details">
          <ng-template ngbTabContent>

            <div class="section" *ngIf="!showSecretSantaProfile">
              <p><b>Time left to  reveal your Secret Santa Profile:</b></p>  
              <!-- <countdown #cd [config]="{leftTime:30}"></countdown> -->
              <!-- <countdown [config]="{leftTime: 30}"></countdown> -->
              <countdown-timer style="font:bold 20px Verdana;" [end]="'2019-12-23 15:00:00'"></countdown-timer>
            </div>

            <div class="section" *ngIf="showSecretSantaProfile">
              <p class="category"><u>Profile Details of Your Secret Santa</u></p>
              <app-profile-details [profiledata]="SecretSantaProfile"></app-profile-details>
            </div>

            <div class="section" *ngIf="showSecretSantaWishList">
              <p class="category"><u>Wish List of Your Secret Santa is below</u></p>
              <app-wishlist-details  [wishlist]="SecretSantaWishList" ></app-wishlist-details>
            </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>