<div class="card">
  <div class="nav-tabs-navigation" data-tabs-color="orange">
    <div class="nav-tabs-wrapper">
      <ngb-tabset [justify]="'center'" class="text-center">
        <ngb-tab title="Your Details">
          <ng-template ngbTabContent>

            <div class=section>
              <p class="category"><u>Fill Your Wish List below</u></p>

              <app-wishlist-details></app-wishlist-details>

            </div>

            <div class="section">
              <p class="category"><u>Profile</u></p>

              <app-profile-details></app-profile-details>

            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Recipient Details">
          <ng-template ngbTabContent>

            <div class=section>
              <p class="category"><u>Wish List of Your Recipient is below</u></p>

              <app-wishlist-details></app-wishlist-details>

            </div>

            <div class="section">
              <p class="category"><u>Profile Details of Your Recipient</u></p>

              <p><b>The Profile Details of Your Recipient will be Revealed on the Last day</b></p>
              <app-profile-details></app-profile-details>

            </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>